In [1]:
Year = int(input("Enter your years of Experience"))
Age = int(input("Enter your age"))

if Year > 25 and Age >= 55:
    print("Your Annual Tax Revenue = N5,600,000")
    
if Year > 20 and Age >= 45:
    print("Your Annual Tax Revenue = N4,480,000")
    
if Year > 10 and Age >= 35:
    print("Your Annual Tax Revenue = N1,500,000")
    
elif Year < 10 and Age < 35:
    print("Your Annual Tax Revenue = N550,000")

Enter your years of Experience36
Enter your age49
Your Annual Tax Revenue = N4,480,000
Your Annual Tax Revenue = N1,500,000

In [3]:
Girls = ['Samantha', 'Jada', 'Jane', 'Claire', 'Elizabeth', 'Mary', 'Susan', 'Waje', 'Taibat', 'Lilian']
grl_age = ['17', '16', '17', '18', '16', '18', '17', '20', '19', '17']
grl_height = ['5.5', '6.0', '5.4', '5.9', '5.6', '5.5', '6.1', '6.0', '5.7', '5.5']
grl_scores = ['80', '85', '70', '60', '76', '66', '87', '95', '50', '49']
Boys = ['Charles', 'Jude', 'James', 'Kelvin', 'Biodun', 'Wale', 'Kunle', 'Matthew', 'Tom', 'Kayode']
boy_age = ['19', '16', '18', '17', '20', '19', '16', '18', '17', '19']
boy_height = ['5.7', '5.9', '5.8', '6.1', '5.9', '5.5', '6.1', '5.4', '5.8', '5.7']
boy_scores = ['74', '87', '75', '68', '66', '78', '87', '98', '54', '60']

print('Name     | Age | Height | Score|')
print('________________________________')

for num in range(len(Girls)):
    print(Girls[num], "|" ,grl_age[num]," | ", grl_height[num], " | ", grl_scores[num]," | ")
for num in range(len(Boys)):
    print(Boys[num],"|",boy_age[num]," | ",boy_height[num]," | ",boy_scores[num]," | ")

Name     | Age | Height | Score|
________________________________
Samantha | 17  |  5.5  |  80  |
Jada | 16  |  6.0  |  85  |
Jane | 17  |  5.4  |  70  |
Claire | 18  |  5.9  |  60  |
Elizabeth | 16  |  5.6  |  76  |
Mary | 18  |  5.5  |  66  |
Susan | 17  |  6.1  |  87  |
Waje | 20  |  6.0  |  95  |
Taibat | 19  |  5.7  |  50  |
Lilian | 17  |  5.5  |  49  |
Charles | 19  |  5.7  |  74  |
Jude | 16  |  5.9  |  87  |
James | 18  |  5.8  |  75  |
Kelvin | 17  |  6.1  |  68  |
Biodun | 20  |  5.9  |  66  |
Wale | 19  |  5.5  |  78  |
Kunle | 16  |  6.1  |  87  |
Matthew | 18  |  5.4  |  98  |
Tom | 17  |  5.8  |  54  |
Kayode | 19  |  5.7  |  60  |