In [ ]:
print("Hello Jay")

In [ ]:
person = input("What's your name")
print('Hello,', person)

In [ ]:
age = 12
print(age)

In [ ]:
x = 6
y = x * 7
print(y)

In [ ]:
name = 'Adele Joe'
print (name)

In [ ]:
mango = 5
apple = 3
apple > mango

In [ ]:
mango < apple

In [ ]:
mango == apple

In [1]:
'''
We are writing a simple program here
First print statement.
This is a multiple line comment.

'''

print("Hello Guys")

# Second print statement
print("How are you all?")

# Third print statement
print("Welcome to Python Programming")

Hello Guys
How are you all?
Welcome to Python Programming

In [2]:
num = 100

if 9 < num < 99:
    
    print("Two digit number")
    
elif 99 < num < 999:
    
        print("Three digit number")
        
elif 999 < num < 9999:
    
        print("Four digit number")
        
else:
        print("number is <= 9 or >= 9999")

Three digit number

In [ ]:
if 9 < num < 99:
    
    print("Two digit number")
    
    if 99 < num < 999:
        
        print("Three digit number")
        
        if 999 < num < 9999:
            
            print("Four digit number")
            
else:
    
        print("number is <= 9 or >= 9999")

In [3]:
message = "Welcome to"
course_code = "CSC 102"
course_title = "Introduction to Problem solving"

concat = message +' '+ course_code+' '+course_title

print(concat)

Welcome to CSC 102 Introduction to Problem solving

In [6]:
# Integer number
num = 100
print(num)
print("Data Type of variable num is", type(num))

# float number
fnum = 34.45
print(fnum)
print("Data Type of variable fnum is", type(fnum))

# complex number
cnum = 3 + 4j
print(cnum)
print("Data Type of variable cnum is", type(cnum))

100
Data Type of variable num is <class 'int'>
34.45
Data Type of variable fnum is <class 'float'>
(3+4j)
Data Type of variable cnum is <class 'complex'>

In [7]:
# Python program to print strings and type
str1 = "Hi my name is Matthew. I am String"
str2 = 'Hi my name is Precious. I am also a String'

# displaying string str1 and its type
print(str1)
print(type(str1))

# displaying string str2 and its type
print(str2)
print(type(str2))

Hi my name is Matthew. I am String
<class 'str'>
Hi my name is Precious. I am also a String
<class 'str'>